h1 {
    font-size: 5em;
}

#profile_pic {
    height: 10em;

}



body {
    background-color: antiquewhite;
    color: red;
}

div {
    background-color: rgb(180, 160, 160);
    color: purple;
}

.social_media_icon {
    height: 50px;
}